extends ../../../server/views/custom-element-layout

block head-extension
  - var title  = 'Optimizely audiences selector';

block content
  .layout
    .selector#reactapp
    img.logo(src="optimizely_logo.png")
